/* Shop CSS */

.products  {
    text-align: center;
    display: inline-block;
    background-color: antiquewhite;
    border-radius: 10px;
    color: black;
    margin: 20px;
    padding: 20px;
}

.product {
    text-align: left;
    margin: 20px;
    padding: 20px;
}